<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>OpenFin App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="signupcss.css" media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-message-format.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src ="js/SignUpController.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="namesCtrl" ng-style="myStyle">
<!-- Main Content -->
<div class="header">
  <!-- <span id="glyphicon" class="glyphicon glyphicon-minus-sign close"></span> -->
    <span id="glyphicon" class="glyphicon glyphicon-remove-circle close"></span>
</div>
<div class="main-content">

<center><h2 class="signup-heading"> Create your new account </h2></center>


  <form id="msform">
<!-- fieldsets -->

<div  id="first" class="col-xs-4 col-xs-offset-4" ng-init="toggleEnable=false" ng-class="{'disabled': toggleEnable}" ng-disabled="toggleEnable" ng-style="myStyle1">
<h2 class="fs-title">Personal Details</h2>
<h3 class="fs-subtitle">May I know you..!</h3>
<input type="text" name="fname" placeholder="First Name" ng-model="firstName" id="firstName" required  />
</br>
<input type="text" name="lname" placeholder="Last Name" required/>
</br>
<input type="text" name="phone" placeholder="Phone" required/>
</br>
<!-- <textarea name="address" placeholder="Address" required></textarea> -->
</br>
<input type="button" class="btn btn-primary next_button" style="width: 20%;height: auto;color: #fff;text-align: center;" ng-click="firstSignLog(firstName); myStyle1={'-webkit-margin-start':'0em'}; myStyle={'background':'#908d8d'}" value="Next"/>
</div>


<div id="second" class="col-xs-4" ng-init="status=true;toggleEnable2=false" ng-class="{'disabled': toggleEnable2}" ng-disabled="toggleEnable2"  ng-hide ="status">
<h2 class="fs-title">Create your account</h2>
<h3 class="fs-subtitle" ng-model="firstName2"> Hey {{ firstName }}! Don't forget your password..!</h3>
<input type="text" name="email" placeholder="Email" required/>
</br>
<input type="password" name="pass" placeholder="Password" required/>
</br>
<input type="password" name="cpass" placeholder="Confirm Password" required/>
<input type="button" class="btn btn-primary" style="width: 20%;height: auto;color: #fff" ng-click="secondSignLog(firstName)" value="Next"/>
</div>

<div id="third" ng-init="status2=true" ng-hide ="status2" class="col-xs-4" ng-class="{'disabled': toggleEnable3}" ng-disabled="toggleEnable3">
<h2 class="fs-title">Hey {{firstNameValue}}! Secure your account</h2>
<h3 class="fs-subtitle">Answer this simple question to secure your account</h3>
<select name="">
       <option value="">Security question *</option>
       <option value="">What is your birth place?</option>
       <option value="">What is your pet's name?</option>
       <option value="">What was the name of your primary school?</option>
       <option value="">What was the name of the hospital where you were born?</option>
       <option value="">In which city or town was your first job?</option>
     </select>
</br>
<input type="text" name="text" placeholder="Answer" required/>
<br>
<input type="button" class="btn btn-primary" style="width: 20%;height: auto;color: #fff" ng-click="thirdSignLog() " value="Next"/>
</div>
<div id="fourth" class="col-md-12" ng-init="status3=true" ng-hide="status3">
<span>  <input type="submit" name="submit" class="submit upload-button" onclick="location.href='Login Form.html';" value="BACK" /></span>
<span>  <input type="submit" name="submit" class="submit action-button" onclick="location.href='Main page.html';" value="ALL DONE" /></span>
</div>
</form>

</div>

<script type="text/javascript">
fin.desktop.main(init);

function init(){
// var finWindow = fin.desktop.Window.getCurrent();
// finWindow.updateOptions({frame: false});
var close = document.querySelector('.close');

close.addEventListener('click', function(){
fin.desktop.Window.getCurrent().close();
})
}


</script>


  </body>
</html>
